<form class="input-append">
  <div class="input-fields">
    <input type="text" id="new-todo" class="input-field" placeholder="What are you up to?">
  </div>
  <div class="submit">
    <input type="submit" class="btn" value="Submit">
    <div class="ease"></div>
  </div>
</form>

<ul>
  <!-- Where our ToDo items will go -->
</ul>
