<form class="input-append">
  <input type="text" id="new-todo" placeholder="What are you up to?">
  <input type="submit" class="btn" value="Submit">
</form>

<ul>
  <!-- Where our ToDo items will go -->
</ul>
