@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import 'compass/css3/transition';

$white: #fff;
$light-grey: #3c3c3c;
$light-blue: #3498db;
$dark-blue: #0493bd;
$darker-blue: #6c97ab;
$light-green: #a2ded0;
$dark-green: #7daba0;
$light-red: #ff5847;
$dark-red: #e2796c;
$darker-red: #dd5244;

$body-color: $light-blue;
$content-color: #2980b9;
$text-color: $white;

$desktop-width: 1280px;
$tablet-width: 768px;
$phone-width: 449px;

body {
  background: $body-color;
  font-family: Open Sans;
  font-size: 18px;
}

h1 {
  padding-bottom: 1em;
  text-align: center;
}

form {
  margin-top: 10px;
}

ul,
li form {
  margin: 0;
  padding: 0;
}

ul {
  clear: both;
  list-style: none;
}

li {
  background: $white;
  color: $light-grey;
  display: block;
  line-height: 50px;
  margin-bottom: 15px;
  overflow: hidden;

  form {
    display: none;
  }
}

.hero-unit {
  background: $content-color;
  color: $text-color;
  margin: 50px auto 0;
  padding: 5% 10%;
  vertical-align: middle;
  width: 60%;
}

.editing {
  .title {
    display: none;
  }

  form {
    display: inline-block;
  }
}

.input-fields {
  float: left;
  width: 70%;
}

.submit {
  float: right;
  width: 30%;

}

input:checked ~ span {
  text-decoration: line-through;
}

.input-field {
  color: $light-grey;
  padding: 13px;

  &:focus {
    background: $white;
    border: 3px solid $light-blue;
    box-shadow: 0;
    outline: none;
    padding: 13px;
  }
}

.input-append .input-field {
  background: $white url('/images/pencil.svg') 11px 8px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 1em;
  padding-left: 53px;
  width: 76%;
}

.btn {
  @include transition(all .3s);
  background-color: $darker-blue;
  border: $white solid 4px;
  color: $white;
  cursor: pointer;
  float: left;
  font-size: 18px;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 100%;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0);
  color: $dark-blue;
}

.submit:hover {
  color: $light-blue;

  .ease {
    background-color: $white;
    width: 100%;
  }
}

.ease {
  @include transition(.3s ease);
  background-color: $white;
  height: 52px;
  width: 0;
}

.checkbox {
  display: none;

  &:checked + span {
    background: $light-green url('/images/check.svg') no-repeat 7% center;
    background-color: $light-green;
    background-size: 22px 22px;
  }

  &:checked:hover + span {
    background: $dark-red url('/images/check.svg') no-repeat 7% center;
    background-size: 22px 22px;
    color: rgba(255, 255, 255, .5);
  }
}

span {
  background: $dark-red url('/images/unchecked.svg') no-repeat 7% center;
  background-size: 22px 22px;
  color: $white;
  cursor: pointer;
  display: block;
  letter-spacing: 4px;
  text-align: center;
  width: 100%;

  &:hover {
    background: $darker-red url('/images/checking.svg') no-repeat 7% center;
    background-size: 23px 23px;
    text-decoration: line-through;
  }
}

@media only screen and (min-width: $desktop-width) {
  .hero-unit {
    margin-top: 10%;
    width: 700px;
  }
}

@media only screen and (max-width: $tablet-width) {
  .hero-unit {
    padding: 7%;
    width: 80%;
  }
}

@media only screen and (max-width: $phone-width) {

  .input-fields {
    float: none;
    width: 100%;
  }

  .submit {
    float: none;
    margin-bottom: 10px;
    width: 100%;
  }
}
